.wrapper {
  width: 100%;
  display: flex;
  gap: 10px;
  align-items: center;
  min-height: 64px;
  
  .auth {
    display: flex;
    gap: 10px;
    margin-left: auto;
  }

  .active {
    background-color: red;
  }

  @media (max-width: 600px) {
    flex-direction: column-reverse;
    margin-bottom: 10px;
  }
}

.mat-toolbar-row, .mat-toolbar-single-row {
  height: inherit;

  @media (max-width: 600px) {
    padding: 0 10px;
  }
}

mat-toolbar {
  margin-bottom: 20px;
}

li {
  list-style: none;

  @media (max-width: 600px) {
    width: 100%;

    a {
      width: 100%;
    }
  }
}

ul {
  margin: 0;
  padding: 0;
}

.user-info {
  margin-left: auto;
  display: flex;
  gap: 10px;

  p {
    margin: 0;
    align-self: center;
    font-weight: 200;
  }
}