.wrapper {
  width: 100%;
  display: flex;
  gap: 10px;
  
  .auth {
    display: flex;
    gap: 10px;
    margin-left: auto;
  }

  .active {
    background-color: red;
  }
}

mat-toolbar {
  margin-bottom: 20px;
}

li {
  list-style: none;
}

ul {
  margin: 0;
  padding: 0;
}