<mat-toolbar class="wrapper">
  @if (true) {
  <button mat-raised-button [routerLink]="['/my-recipe']" routerLinkActive="active">My recipes</button>
  <button mat-raised-button [routerLink]="['/global-list']" routerLinkActive="active">Global List</button>
  <button mat-raised-button [routerLink]="['/new-recipe']" routerLinkActive="active" style="margin-left: auto;">New
    Recipes</button>
  } @else {
  <div class="auth">
    <button mat-raised-button color="primary" [routerLink]="['/login']" routerLinkActive="active">
      Login
    </button>
    <button mat-raised-button color="primary" [routerLink]="['/signup']" routerLinkActive="active">
      Signup
    </button>
  </div>
  }
</mat-toolbar>