<app-recipes-table [recipesList]="myList()" (onExpend)="getPhotos($event)">
  <ng-template let-index let-recipeId="recipeId">
    <!-- empty div for space between -->
    <div></div>
    <div class="group-btn">
      <button type="button" mat-raised-button color="warn" (click)="onDelete($event, index)" matTooltip="Delete"
        matTooltipPosition="above">
        <mat-icon fontIcon="delete" aria-hidden="false" aria-label="Delete"></mat-icon>
      </button>
      <button type="button" mat-raised-button color="accent" [routerLink]="['/new-recipe/' + recipeId]"
        matTooltip="Edit" matTooltipPosition="above" (click)="$event.stopPropagation()"
        [disabled]="myList()[index].published">
        <mat-icon fontIcon="edit" aria-hidden="false" aria-label="Edit"></mat-icon>
      </button>
      <button type="button" mat-raised-button color="primary" (click)="onPublish($event, index)"
        [matTooltip]="myList()[index].published ? 'Unpublish' : 'Publish'" matTooltipPosition="above">
        <mat-icon [fontIcon]="myList()[index].published ? 'public_off' : 'public'" aria-hidden="false"
          aria-label="Public"></mat-icon>
      </button>
    </div>
  </ng-template>
</app-recipes-table>
<mat-paginator [length]="pagination().length" [pageSize]="pagination().pageSize" [pageIndex]="pagination().pageIndex"
  [pageSizeOptions]="[5, 10, 25]" aria-label="Select page" (page)="handlePageEvent($event)">
</mat-paginator>