@import 'global';

:host {
  justify-content: space-between;
}

.group-btn {
  display: flex;
  gap: 5px;

  button {
    border: 1px solid $default-button-border;

    &.active {
      border: 1px solid $active-button;
      color: $active-button;
    }
  }
}

mat-paginator {
  position: fixed;
  width: 100%;
  bottom: 0;
}