<div>
  <p>Photos:</p>
  <div class="drag-drop-area" (drop)="onDrop($event)" (dragover)="onDragOver($event)">
    <p>Drag and drop to automatic upload</p>
  </div>  
</div>
<div class="img-wrapper">
@for (item of images(); track $index) {
  <div class="img">
    <img [src]="item.src" [style]="'height: 200px'" [title]="item.title" >
    <button mat-mini-fab class="remove-button" color="warn" (click)="removeImage($index)">
      <mat-icon aria-hidden="false">close</mat-icon>
    </button>
  </div>
  }
</div>