:host {
  display: block;
  max-width: 800px;
  margin: 0 auto;
}

.mat-expansion-panel-header-title {
  justify-content: center;
  font-size: 20px;
}

.mat-expansion-panel-header-description {
  justify-content: space-between;
}

.nutrition {
  max-width: 500px;
  margin: 20px auto;
  padding: 3px;

  .title {
    display: flex;
    justify-content: space-between;

    h1 {
      font-size: 16px;
      margin: 5px;
    }
  }

  .values {
    border-top: 2px solid rgb(180, 180, 180);

    .nutrition__item {
      display: flex;
      justify-content: space-between;

      p {
        margin: 3px;
      }
    }
  }
}