:host {
  display: block;
  max-width: 1000px;
  margin: 0 auto;
}

.mat-expansion-panel-header-title {
  justify-content: left;
  font-size: 20px;
}

.mat-expansion-panel-header{
  height: auto;
  padding: 10px 24px 10px 24px;
}

.mat-expansion-panel-header-description {
  flex-grow: 1;
  justify-content: right;
}

.nutrition {
  max-width: 500px;
  margin: 20px auto;
  padding: 3px;

  .title {
    display: flex;
    justify-content: space-between;

    h1 {
      font-size: 16px;
      margin: 5px;
    }
  }

  .values {
    border-top: 2px solid #b4b4b4;

    .nutrition__item {
      display: flex;
      justify-content: space-between;

      p {
        margin: 3px;
      }
    }
  }
}

.photos {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;

  img {
    flex-shrink: 1;
    max-width: 100%;
  }
}