<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Title
      </mat-panel-title>
      <mat-panel-description>
        difficulty
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-chip-listbox aria-label="meal-details">
      <mat-chip>Prep: 12 min</mat-chip>
      <mat-chip>Cook: 12 min</mat-chip>
      <mat-chip>Serves: 12</mat-chip>
      <mat-chip>dish: cake</mat-chip>
    </mat-chip-listbox>
    <p>Photos:</p>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Title
      </mat-panel-title>
      <mat-panel-description>
        difficulty
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-chip-listbox aria-label="meal-details">
      <mat-chip>Prep: 12 min</mat-chip>
      <mat-chip>Cook: 12 min</mat-chip>
      <mat-chip>Serves: 12</mat-chip>
      <mat-chip>dish: cake</mat-chip>
    </mat-chip-listbox>
    <p>Photos:</p>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Title
      </mat-panel-title>
      <mat-panel-description>
        difficulty
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-chip-listbox aria-label="meal-details">
      <mat-chip>Prep: 12 min</mat-chip>
      <mat-chip>Cook: 12 min</mat-chip>
      <mat-chip>Serves: 12</mat-chip>
      <mat-chip>dish: cake</mat-chip>
    </mat-chip-listbox>
    <p>Photos:</p>
  </mat-expansion-panel>
</mat-accordion>